<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jenny.diary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowseActivity"
            android:label="@string/browse_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".task.BrowseTaskActivity"
            android:label="@string/task_browse_title">
        </activity>
        <activity
            android:name=".task.CreateTaskActivity"
            android:label="@string/task_create_title">
        </activity>
        <activity
            android:name=".task.DisplayTaskActivity">
            android:label="@string/task_display_title">
        </activity>
        <activity
            android:name=".category.CreateCategoryActivity"
            android:label="@string/category_create_title">
        </activity>
    </application>

</manifest>
